.chat-groups
  -@groups.each do |group|
    = link_to group_path(group) do
      .chat-group
        .chat-group_name
          = group.name
        .chat-group_text
          -if group.messages.present?
            = group.messages.last.body
          -else
            まだメッセージがありません
