.chat-groups
  - @groups.each do |group|
    = link_to group_path(group) do
      .chat-group
        .chat-group_name
          = group.name
        .chat-group_text
          = get_last_message(group)
