.main-herder.cf
  .main-herder_left
    .herder-group_name
      div
    .herder-group_menbers
      Members:
      %span.herder-group_menber
        axis06
  .main-herder_right
    .btn_edit
      Edit
