.main-herder.cf
  .main-herder_left
    .herder-group_name
      = @group.name
    .herder-group_menbers
      Members:
      - @group.users.each do |u|
        %span.herder-group_menber
          = u.name

  .main-herder_right
    .btn_edit
      =link_to "Edit",edit_group_path(@group)
