.chat-user.cf
  .chat-user_name
    = current_user.name
  .chat-user_actions
    .chat-user_action
      = link_to(new_group_path) do
        %i.fa.fa-pencil-square-o
    .chat-user_action
      = link_to(edit_user_registration_path) do
        %i.fa.fa-cog
