$notice-color: #38aef0
$alert-color: #d65f4c
$white-color: #fafafa

$bg-chat-side: #2f3e51
$bg-chat-user: #253141
$bg-main-foot: #ddd

$text-chat-user: #fff
$text-main-head: #fff
$text-main-foot: #fff


$chat-cleam-color: #999999
$chat-blue-color: #38aef0



html
  height: 100%

body
  margin: 0
  display: flex
  flex-direction: column
  font-family: "Hiragino Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial, sans-serif
  color: #434a54
  background-color: $white-color

body,.wrap
  flex: 1
  height: 100%

.wrap
  min-width: 980px
  height: 100%

.clearfix:after
  content: " "
  display: block
  clear: both

.text-center
  text-align: center

#chat-side
  width: 300px
  float: left
  height: 100%
  background-color: $bg-chat-side

#chat-main
  position: relative
  width: calc(100% - 300px)
  height: 100%
  float: left

.cf::after
  content: ''
  display: block
  clear: both

.chat-user
  background-color: $bg-chat-user
  color: $text-chat-user
  padding: 20px
  font-size: 16px
  &_name
    float: left
    font-weight: bold
    line-height: 60px
    letter-spacing: 2px
  &_actions
    float: right
  &_action
    float: left
    display: inline-block
    margin: 15px 0 15px 8px
    line-height: 28px
    color: #fff
    font-size: 20px
    a,a:visited,a:hover
      color: white

.chat-group
  color: #FFFFFF
  padding: 20px
  &_name
    font-size: 15px
    margin-bottom: 5px
  &_text
    font-size: 11px

.main-herder
  padding: 0 40px
  background-color: $text-main-head
  border-bottom: 1px solid #eeeeee
  &_left
    float: left
  &_right
    float: right

.herder-group
  &_name
    margin: 35px 0 15px
    line-height: 20px
    font-size: 20px
    letter-spacing: 2px
  &_menbers
    font-size: 12px
    color: #999999

.btn_edit
  display: inline-block
  margin: 28px 0
  padding-right: 20px
  padding-left: 20px
  line-height: 40px
  color: $chat-blue-color
  font-size: 14px
  border: 2px solid
  a
    color: $chat-blue-color

.main-body
  padding: 0 40px
  margin: 46px 0

.message-status
  line-height: 20px
  &_name
    float: left
    color: #434A54
    font-weight: 600
    font-size: 16px
  &_time
    color: $chat-cleam-color
    float: left
    font-size: 12px
    margin-left: 10px


.message-text
  margin: 10px 0 40px
  font-size: 14px

.main-footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  padding: 20px 40px
  background-color: $bg-main-foot
  .chat-footer
    width: 100%
  .message-new
    width: calc(100% - 135px)
    &_body
      width: 100%
      float: left
      textarea
        width: 100%
        height: 20px
        padding: 15px 10px
        line-height: 20px
        border: none
        resize: none
        display: block
    &_file
      position: absolute
      display: inline-block
      height: 50px
      line-height: 50px
      text-align: center
      cursor: pointer
      margin: 0 -10px


  .message-send
    float: right
    input[type="submit"]
      float: left
      display: inline-block
      width: 100px
      margin-left: 15px
      line-height: 50px
      color: #fff
      background-color: $chat-blue-color
      border: none
      padding: 0
.notice,.alert
  color: #FFF
.notice
  background-color: $notice-color
.alert
  background-color: $alert-color

.chat-group-form
  width: 980px
  margin: 60px auto
  padding: 40px
  background-color: #fff
  border: 1px solid #ddd
  border-radius: 5px
  h1
    letter-spacing: 2px
    font-size: 24px
  .chat-group-form__errors
    margin: 30px 0
    padding: 20px 40px
    border: 1px solid #ddd
    border-radius: 2px
    text-align: center
    h2
      margin-bottom: 10px
      color: #f05050
      font-size: 14px
    ul
      margin: 0
      padding: 0
      list-style: none
    li
      margin: 0
      padding: 0
      font-size: 13px
  .chat-group-form
    margin-top: 30px
    &__field--left
      float: left
      width: 30%
      padding-right: 20px
      padding-left: 20px
      box-sizing: border-box
    &__field--right
      float: right
      width: 70%
      box-sizing: border-box
    &-form__label
      display: block
      line-height: 50px
      font-weight: bold
      text-align: right
    &-form__input
      float: left
      width: 100%
      line-height: 30px
      padding: 10px 15px
      box-sizing: border-box
  .chat-group-user
    padding: 0 15px
    line-height: 50px
    font-size: 14px
    border-bottom: 1px solid #ddd
    .chat-group-user__name
      float: left
    .chat-group-user__btn
      float: right
      display: inline-block
      cursor: pointer
      &.chat-group-user__btn--add
        color: #38aef0
      &.chat-group-user__btn--remove
        color: #f05050
  .chat-group-form__action-btn
    display: inline-block
    padding: 12px 20px
    color: #fff
    background-color: #38aef0
    border: 0
